html { 
  background: url("http://sf.co.ua/14/07/wallpaper-1499989.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #FFF;
}

#play {
  position: absolute;
  top: 150px;
  right: 380px;
  width: 1000px;
  height: 100px;
}

#ansbuttons {
  position: relative;
  top: 450px;
  left: 650px;
  width: 500px;
  height: 100px;
  text-align: center;
}

#navigation {
  background-color: black;
  font-size: 40px;
  position: absolute;
  top: 600px;
  right: 220px;
  width: 550px;
  height: 100px;
  font-family: Rockwell;
}

#clickinfo {
  color: white;
  font-family: Rockwell;
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 200px;
  width: 600px;
  text-align: center;
}

table {
  border: 1px solid white;
  color: white;
}

/*tr {
  border: 1px solid white;
}*/

table {
    width: 200px;
    height: 120px;
}

td {
    text-align: center;
}




